aiogram==3.0.0b6  # Используется для создания Telegram-бота
python-dotenv  # Используется для загрузки переменных окружения из .env файла
gedcom==1.2.0  # Используется для парсинга GEDCOM-файлов с генеалогическими данными